[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

pytest = "*"
pytest-sugar = "*"
pytest-watch = "*"
pypandoc = "*"
bpython = "*"
pylint = "*"
wheel = "*"
twine = "*"
"backports.tempfile" = "*"


[packages]

paramiko = "*"
termcolor = "*"
uritools = "*"
pyserial = "*"
scp = "*"


[requires]

python_version = "2.7"
