asn1crypto==0.24.0
attrs==17.4.0
bcrypt==3.1.4
cffi==1.11.4
cryptography==2.1.4
enum34==1.1.6
funcsigs==1.0.2
idna==2.6
ipaddress==1.0.19
paramiko==2.4.0
pluggy==0.6.0
py==1.5.2
pyasn1==0.4.2
pycparser==2.18
PyNaCl==1.2.1
pytest==3.3.2
six==1.11.0
termcolor==1.1.0
uritools==2.1.0